<% layout("layouts/boilerplate") %>
<h1>Login</h1>
<form action="/login" novalidate method="POST" class="validated-form">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      id="username"
      required
      name="username"
      type="text"
      class="form-control"
    />
    <div class="valid-feedback">Looks good</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      id="password"
      required
      name="password"
      type="password"
      class="form-control"
    />
    <div class="valid-feedback">Looks good</div>
  </div>
  <button class="btn btn-success">Login</button>
</form>
